@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption|Pacifico&display=swap);
.AppHeader{
  height: 100vh;
  position: relative;
  z-Index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size:15pt;
  font-family: 'Pacifico', sans-serif;
  color: white;
}
.textStyle{
  font-size:15pt;
  font-family: 'PT Sans Caption', sans-serif;
}
.backgroundBlur {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+; Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
  background-image: url(../Vietnam_Parks_Rivers_Bridges_Hanoi_Night_Trees_566471_1280x853.jpg);
  background-size: cover ;
  background-repeat:no-repeat;
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
