$linkcolour: #282c34;
.auth{
  width:350px;
  padding: 12px;
  border:3px solid whitesmoke;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  font-size:15pt;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: lighten($linkcolour, 10%);
}
.sp{
   width:350px;
   padding: 12px;
   border:3px solid whitesmoke;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   font-size:15pt;
   font-family: 'PT Sans Caption', sans-serif;
   background-color: lighten($linkcolour, 10%);
 }
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
button{
  display: block;
  margin: 1vh;
  width:inherit;
  border:2px solid whitesmoke;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 1510;
  padding: 5px;
  background-color: $linkcolour;
  font-size: 15pt;
  color: white;
  font-family: 'PT Sans Caption', sans-serif;
}
button:hover{
  background-color: #DE3163

}

