$linkcolour: #282c34;
li {
  list-style-type: none; /* Убираем маркеры */
  background-color: lighten($linkcolour, 15%);
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
li:hover{
  background-color: lighten($linkcolour, 20%)

}

